<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocktail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity_Alabama"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivity_Alexander"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivity_Americano"
            android:parentActivityName=".MainActivity">
        </activity>



        <activity
            android:name=".MainActivity_AngelFace"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_AngeloAzzurro"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_AppleMartini"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Aviation"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_B52"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Bacardi_Cocktail"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Barracuda"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Bellini"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Between_The_Sheets"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Black_Russian"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bloody_Mary"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Boulevardier"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bramble"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Brandy_Egg_Nog"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bronx"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bucks_Fizz"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bull_Shot"
            android:parentActivityName=".MainActivity"></activity>

<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Caipirinha"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Caipirissima"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Caipirissima_Negrita"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Caipiroska"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Campari_Orange_passion"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Campari_Spritz"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Casino"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Champagne_Cocktail"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Clover_Club"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Cosmopolitan"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Cuba_Libre"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Daiquiri"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Daiquiri_Up"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Darkn_Stormy"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Derby"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Dirty_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Dry_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Espresso_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Florida"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_French75"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_French_Connection"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_French_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Frozen_Daiquiri"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Fruit_Frozen_Margarita"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Garibaldi"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Gibson"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Gin_And_French"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Gin_And_It"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Gin_Fizz"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_God_Father"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_God_Mother"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Golden_Cadillac"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Golden_Dream"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Grasshopper"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Harvey_Wallbanger"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Hemingway_Special"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Horses_Neck"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Hugo"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Irish_Coffee"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Italian_Ice_Tea"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Japanese_Ice_Tea"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Japanese_Slipper"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_John_Collins"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Kamikaze"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Kir"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Kir_Royal"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Lemon_Drop_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_London_Ice_tea"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mai_Tai"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Manhattan"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Manhattan_Dry"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Manhattan_Medium_o_Perfect"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Margarita"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Martini_Cocktail"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Martini_Royal_Bianco"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Martini_Royal_Rosato"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mary_Pickford"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Miami_Ice_Tea"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mimosa"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mint_Julep"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mojito"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Mojito_Fidel"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Monkey_Gland"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Moscow_Mule"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Negroni"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Negrosky"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Old_Fashioned"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Old_Pal"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Orgasm"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Paradise"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Perfect_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Pina_Colada"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Pisco_Sour"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Planters_Punch"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Porto_Flip"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Punch_Cubano"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Ramos_Fizz"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Rob_Roy"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Rose"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Rum_Cooler"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Russian_Spring_Punch"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Rusty_Nail"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Salty_Dog"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Sazerac"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Screwdriver"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Sea_Breeze"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Sex_On_The_Beach"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Shirley_Temple"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Singapore_Sling"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Spritz_Veneziano"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Stinger"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Sweet_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Tequila_Sunrise"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Tommys_Margarita"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Tuxedo"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Vampiro"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Vesper"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Vodka_Cooler"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Vodka_Martini"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Whiskey_Sour"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_White_Lady"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_White_Russian"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_White_Spider"
    ></activity>
<activity android:parentActivityName=".MainActivity"
    android:name=".MainActivity_Yellow_Bird"
    ></activity>

    </application>

</manifest>