<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cocktail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity_Alabama"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivity_Alexander"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivity_Americano"
            android:parentActivityName=".MainActivity">
        </activity>



        <activity
            android:name=".MainActivity_AngelFace"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_AngeloAzzurro"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_AppleMartini"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Aviation"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_B52"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Bacardi_Cocktail"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Barracuda"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Bellini"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Between_The_Sheets"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".MainActivity_Black_Russian"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bloody_Mary"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Boulevardier"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bramble"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Brandy_Egg_Nog"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bronx"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bucks_Fizz"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity_Bull_Shot"
            android:parentActivityName=".MainActivity"></activity>
<!-- esempio di commento
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>
<activity></activity>-->

    </application>

</manifest>